<!DOCTYPE html>
<meta charset="utf-8">
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js"></script>
<script src="script.js"></script>
<link rel="stylesheet" type="text/css" href="style.css">

<body>
    <div id="app">
        <h1> Catan </h1>
        {{status}} <br>
        {{systemMsg}} <br>
        <input v-on:keyup.enter="connect" v-model="ip">
        <input v-on:keyup.enter="connect" v-model="port">
        <button v-on:click="connect">Connect</button> <br>
        <button v-on:click="restart">Start game</button>

        <div id="d3-holder"></div>
        <code>
            {{json}}
        </code>
    </div>
</body>
<script src="http://d3js.org/d3.v3.min.js"></script>
<script src="script.js"></script>
<script src="http://d3js.org/topojson.v1.min.js"></script>

