
* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

html, body {
    margin: 0;
}

input {
    padding: 4px;
    border: 0;
    height:36px;
    font-size: .8rem;
}

button {
    border: none;
    background-color: steelblue;
    height:36px;
    font-size: .8rem;
    border-radius: 2px;
    color: white;
    font-weight: 100;
    padding-right: 12px;
    padding-left: 12px;
    margin: 0;
}

button:hover {
    background-color: lightsteelblue;
    transition: background-color .12s;

}

.resource {
    border: .5px solid gainsboro;
}

.info {
    background-color: aliceblue;
    height: 100vh;
    color: black;
    width: 20%;
}

.board {
    display: block;
    flex-direction: column;
    max-width: 80%;
}


.hexagon {
    fill: white;
    pointer-events: all;
}

.hexagon path {
    -webkit-transition: fill 250ms linear;
    transition: fill 250ms linear;
}

.hexagon .desert {
    fill: sandybrown;
}

.wool, .whool {
    fill: lawngreen;
    background-color: lawngreen;
}

.wood {
    fill: forestgreen;
    background-color: forestgreen;
}

.stone {
    fill: rosybrown;
    background-color: rosybrown;
}

.grain {
    fill: yellow;
    background-color: yellow;
}

.ore {
    fill: lightgray;
    background-color: lightgray;
}

.hexagon .sea {
    fill: lightskyblue;
}

.hexagon .harbour_wool,
.hexagon .harbour_wood,
.hexagon .harbour_stone,
.hexagon .harbour_grain,
.hexagon .harbour_ore,
.hexagon .harbour_all {
    fill: lightskyblue;
}

.mesh {
    fill: none;
    pointer-events: none;
}

.border {
    fill: none;
    stroke-width: 4px;
    pointer-events: none;
}

.numbers {
    font-size: 25px;
}
