
* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

html, body {
    margin: 0;
}

input {
    padding: 4px;
    border: 0;
    height:36px;
    font-size: .8rem;
}

button {
    border: none;
    background-color: steelblue;
    height:36px;
    font-size: .8rem;
    border-radius: 2px;
    color: white;
    font-weight: 100;
    padding-right: 12px;
    padding-left: 12px;
    margin: 0;
}

button:hover {
    background-color: lightsteelblue;
    transition: background-color .12s;

}

.resource {
    border: .5px solid gainsboro;
}

.info {
    background-color: aliceblue;
    height: 100vh;
    color: black;
    width: 20%;
    min-width: 300px;
}

.board {
    display: block;
    flex-direction: column;
    max-width: 80%;
}


.hexagon {
    fill: white;
    pointer-events: all;
}

.hexagon path {
    -webkit-transition: fill 250ms linear;
    transition: fill 250ms linear;
}

.hexagon .DESERT {
    fill: sandybrown;
}

.WOOL {
    fill: lawngreen;
    background-color: lawngreen;
    color: black;
}

.WOOD {
    fill: forestgreen;
    background-color: forestgreen;
    color: white;
}

.STONE {
    fill: rosybrown;
    background-color: rosybrown;
    color: white;
}

.GRAIN {
    fill: yellow;
    background-color: yellow;
    color: black;
}

.ORE {
    fill: lightgray;
    background-color: lightgray;
    color: black;
}

.hexagon .SEA {
    fill: lightskyblue;
}

.hexagon .HARBOUR_WOOL,
.hexagon .HARBOUR_WOOD,
.hexagon .HARBOUR_STONE,
.hexagon .HARBOUR_GRAIN,
.hexagon .HARBOUR_ORE,
.hexagon .HARBOUR_ALL {
    fill: lightskyblue;
}

.mesh {
    fill: none;
    pointer-events: none;
}

.border {
    fill: none;
    stroke-width: 4px;
    pointer-events: none;
}

.numbers {
    font-size: 25px;
}

.events {
    font-weight: 100;
    overflow-y: scroll;
    font-size: .8rem;
}

.resource-txt {
    padding: 4px;
    border-radius: 2px;
    font-weight: 600;
    margin-right: 4px;
    font-size: .7rem;
}